/*variables:*/
html {
  --transitionTiming: 0.5s ease;
}

html {
  font-family: "Courier Prime", monospace;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  scroll-behavior: smooth;
}

html,
body {
  /*reset*/
  margin: 0;
  padding: 0;
}

.fixedCont {
  position: fixed;
}

header {
  position: relative;
  display: flex;
  padding: 2.5ch;
  padding-left: 4ch;
  padding-right: 4ch;
  box-sizing: border-box;
  width: 100vw;
  gap: 10ch;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 0) 100%
  );

  min-height: 100vh;
}

header > * {
  text-transform: uppercase;
}

header h1 {
  font-size: 15cqw;
  /* font-weight: 100; */
}
#pageTitle {
  transition: opacity var(--transitionTiming);
  line-height: 1;

  /* margin-top: auto;
  margin-bottom: auto; */

  position: absolute;

  left: 0;

  margin: 0;
  margin-left: 5vw;
  height: 100vh;
  width: auto;
  bottom: 0;
  display: flex;
  align-items: center;
  #scrollDown {
    position: absolute;
    left: 6ch;
    transform: translateY(100%) scale(80%);
    font-size: 15cqw;
  }
}
#pageTitle.invis {
  opacity: 0;
}

a#scrollDown {
  /* font-size: 7.5cqw; */
  /* font-size: 9cqw; */
}

h1,
h2,
h3 {
  font-weight: 100;
}

header ul.options {
  display: flex;
  align-items: center;
  /* justify-content: space-between;
    flex-grow: 1; */
  gap: 10ch;
  list-style: none;
}

ul.options li {
  cursor: pointer;
}

li {
  list-style-type: "- ";
}

#headerspacer {
  /*Debug:*/
  /* background-color: red; */
}

#inverter {
  position: fixed;
  background-color: black;
  pointer-events: none;
  transition: background-color var(--transitionTiming);

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  mix-blend-mode: difference;
  display: block;
}

html.dark #inverter {
  background-color: white;
}

#toggleInv {
  display: flex;
  gap: 1ch;
  margin-left: auto;
  z-index: 1;
  @media (max-width: 1000px) {
    gap: 0ch;
    transform: translateX(20%);
    
  }
}

.invSwitch p {
  /* position: absolute; */
  cursor: pointer;
}

.invOn {
  opacity: 0%;
  transition: opacity var(--transitionTiming);
}
html.dark .invOn {
  opacity: 100%;
}

/*ingen tekst highlighting:*/

#toggleInv,
header li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: white;
  /* border: 1px solid black; */
  width: 70%;
  /* aspect-ratio: 1 / 1.414; */
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.185);
  box-sizing: border-box;
  padding: 5ch;
  position: relative;
}

.extraMargin {
  margin-top: 0;
  margin: 5ch;
}

.imagespacer :first-child,
.page :first-child {
  margin-top: 0;
  padding-top: 0;
}

.imagespacer div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3cqw;
}

.flex {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagespacer {
  display: flex;
}

/*.imagespacer img {
  width: 30%;
  aspect-ratio: 1 / 1;
  padding: 2ch !important;
  */ /* padding-left: 0; */ /*
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
  margin: 2ch;
  margin-left: 0;
  border: 1px dotted black;
}*/

.imagespacer img {
  --image-size: 20cqw;
  width: var(--image-size);
  height: var(--image-size);
  /* aspect-ratio: 1 / 1; */
  padding: 2cqw !important;
  /* padding-left: 0; */
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
  margin: 0;
  align-self: center;
  border: 1px dotted black;
}

img {
  transition: all var(--transitionTiming);
  cursor: pointer;
  filter: invert(0) contrast(100%) grayscale(0);
}

html.dark img {
  filter: invert(1) contrast(100%) grayscale(0);
  border-color: white;
}

img.processed {
  filter: invert(0) contrast(1000%) grayscale(1);
}

html.dark img.processed {
  filter: invert(0) contrast(1000%) grayscale(1);
  border-color: black;
}

a:link,
a:visited {
  color: #1500ff;
  text-decoration: underline;
  position: relative;
}

a.noStyling:link,
a.noStyling:visited {
  color: black;
  text-decoration: none;
}

a.noStyling:link,
.page h2 {
  font-size: 2cqw;
}
.page li,
.page p {
  font-size: 1.5cqw;
}

.highlight {
  /* background-color: rgba(255, 255, 0, 0.699); */

  font-weight: 600;

  /* text-decoration: underline; */
  /* text-decoration-thickness: 1em; */
  /* text-underline-offset: -0.8em; */
  /* color: white;
  text-decoration-color: black; */
  /* text-decoration-color: rgba(255, 255, 0, 0.699); */
  /* text-decoration-skip-ink: none;
  position: relative; */

  /* &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1em;
    background-color: rgba(255, 255, 0, 0.699);
    z-index: -1;

  } */
}
.sub800 {
  display: none;
}

span.writingCursor {
}

@media (max-width: 800px) {
  header {
    min-height: 5vh;
  }

  .fixedCont {
    z-index: 10;
  }

  #pageTitle {
    position: static;
    margin-left: 0;
    height: auto;
    display: block;
  }

  #pageTitle.invis {
    opacity: 1;
  }

  h1 {
    font-size: 1.4rem !important;
  }
  .page {
    width: 90%;
    padding: 2ch;
  }
  .page h2 {
    font-size: 4cqw;
  }
  .page li,
  .page p {
    font-size: 3cqw;
  }

  .sub800 {
    display: block;
  }
  span.sub800 {
    display: inline;
  }
  .sup800 {
    display: none;
  }

  .extraMargin {
    margin-top: 0;
    margin: 2ch;
  }

  #toggleInv {
    transform: translateX(0%);
    gap: 1ch;
  }
}
@media (min-width: 1400px) {
  .page h2 {
    font-size: 1.5cqw;
  }
  .page li,
  .page p {
    font-size: 1cqw;
  }

}

@media (max-width: 1400px) {
  .imagespacer img {
    --image-size: 25cqw;

  }
}
